@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");

html,
body {
  height: 100%;
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

body._lock {
  overflow: hidden;
}

/*-------MOBILE------------*/
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(270px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  padding-top: 15px;
  background: url(../img/) 50% / cover no-repeat;
  background-color: #e49a47;
  display: grid;
  align-items: center;
  grid-template:
    minmax(60px, auto) 1fr / minmax(1rem, 1fr) minmax(auto, 70px) minmax(
      auto,
      1330px
    )
    minmax(1rem, 1fr);
  grid-template-areas:
    ". header__logo header__menu ."
    ". header__title header__title .";
}

.header__logo {
  grid-area: header__logo;
  position: relative;
  z-index: 5;
  width: 40px;
  align-items: center;
}

.header__img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.header__menu {
  grid-area: header__menu;
  display: grid;
  align-content: center;
}

.menu__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  list-style-type: none;
}

.menu__link {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
}

.menu__link:hover {
  color: #375561;
}

.sidebar__link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.sidebar__link:hover {
  color: #e49a47;
  text-decoration: none;
}

/*-------BURGER-MENU------------*/
@media screen and (max-width: 992px) {
  .header__menu {
    display: grid;
    justify-items: end;
  }

  .menu__burger {
    z-index: 5;
    display: grid;
    align-items: center;
    justify-self: end;
    width: 40px;
    height: 26px;
    position: relative;
    cursor: pointer;
  }

  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    left: 0;
    position: absolute;
    height: 12%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .menu__burger::before,
  .menu__burger::after {
    content: "";
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background-color: rgb(79, 67, 67);
    padding: 150px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 4;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    margin-left: -40px;
    align-self: center;
    align-items: center;
  }

  .menu__list li {
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0px 0px 60px 0px;
  }

  .menu__list li:last-child {
    margin-bottom: 0px;
  }

  .menu__link {
    font-size: 24px;
  }
}

.header__title {
  grid-area: header__title;
  display: grid;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .header__title {
    font-size: 48px;
    line-height: 58px;
  }
}

@media screen and (min-width: 993px) {
  .header__title {
    font-size: 72px;
    line-height: 88px;
    text-align: left;
  }
}

.main {
  padding: 30px 15px;
}

.sidebar {
  background-color: #375561;
  padding: 30px 15px;
  margin: 0px 0px 30px 0px;
}

.sidebar__list {
  list-style-type: none;
}

.sidebar__list li {
  margin: 0px 0px 15px 0px;
}

.content__gallery {
  margin: 0px 0px 30px 0px;
}

@media screen and (min-width: 992px) {
  .main {
    grid-area: main;
    display: grid;
    grid-template:
      1fr / minmax(1rem, 1fr) minmax(auto, 300px) minmax(auto, 1100px)
      minmax(1rem, 1fr);
  }

  .sidebar {
    grid-column: 2/3;
    margin: 0px;
  }

  .content {
    grid-column: 3/4;
    padding: 0px 0px 0px 30px;
  }
}

.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item {
  position: relative;
  padding: 0px 0px 85% 0px;
}

@media screen and (min-width: 767px) {
  .gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__items {
  display: grid;
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*grid-auto-rows: 1fr; if equal height needed*/
}

.products__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax (40px, auto) / 1fr;
}

.products__image {
  position: relative;
  padding: 0px 0px 90% 0px;
  margin: 0px 0px 20px 0px;
}

.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__name {
  font-size: 24px;
  text-decoration: none;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
}

.products__button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 40px;
  justify-self: start;
  background-color: #e49a47;
  padding: 0px 20px;
}

.footer {
  background-color: #889389;
  color: #fff;
  grid-area: footer;
  display: grid;
  padding: 15px;
  align-items: center;
  grid-template:
    1fr / minmax(1rem, 1fr) minmax(auto, 300px) minmax(auto, 1100px)
    minmax(1rem, 1fr);
}

@media screen and (min-width: 550px) {
  .footer__copy {
    grid-column: 2/3;
  }

  .footer__text {
    grid-column: 3/4;
    text-align: right;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    grid-template: 1fr 1fr / 1fr;
    text-align: center;
  }

  .footer__copy {
    order: 2;
  }

  .footer__text {
    order: 1;
  }
}
